.page {
  background-image: url(../../assets/Bg_photo.svg);
  padding: 0;
  border: 1px solid rgba(209, 210, 214, 1);
  background-size: cover;
  object-fit: cover;
}

.page__content {
  width: 1440px;
}
