.main__pagecontent {
  max-width: 1440px;
  background-image: url(../../assets/background.png);
  padding: 0;
  border: 1px solid rgba(209, 210, 214, 1);
  background-size: cover;
  object-fit: cover;
  box-sizing: border-box;
}

.main__searchlist {
  display: flex;
  flex-direction: column;
}

.cards__title {
  width: 585px;
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  color: rgba(255, 2555, 255, 1);
  margin: 80px auto 32px auto;
}

.cards__text {
  width: 608px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin: 0 auto 88px auto;
}

@media screen and (max-width: 768px) {
  .main__pagecontent {
    max-width: 768px;
    background-image: url(../../assets/background768.png);
    box-sizing: border-box;
  }

  .cards__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
  }

  .cards__text {
    max-width: 452px;
    margin: 0 114px 48px auto;
  }
}

@media screen and (max-width: 736px) {
  .cards__text {
    max-width: 385px;
    margin: 0 172px 48px;
  }
}

@media screen and (max-width: 433px) {
  .main__pagecontent {
    max-width: 433px;
    background-image: url(../../assets/background768.png);
    box-sizing: border-box;
  }

  .main__searchlist {
    padding-bottom: 39px;
  }
}

@media screen and (max-width: 643px) {
  .cards__text {
    margin: 0 0 48px 138px;
  }
}

@media screen and (max-width: 340px) {
  .cards__text {
    margin: 0 0 30px 20px;
  }
}

@media screen and (max-width: 353px) {
  .cards__text {
    width: 300px;
    margin: 0 0 48px 21px;
  }
}

@media screen and (max-width: 583px) {
  .cards__text {
    margin: 0 0 48px 100px;
  }
}

@media screen and (max-width: 327px) {
  .cards__text {
    margin: 0 0 48px 15px;
  }
}

@media screen and (max-width: 461px) {
  .cards__text {
    margin: 0 0 48px 37px;
  }
}

@media screen and (max-width: 529px) {
  .cards__title {
    width: 285px;
    font-size: 36px;
    line-height: 40px;
    margin-top: 30px;
  }

  .cards__text {
    margin: 0 0 48px 70px;
  }
}

@media screen and (max-width: 567px) {
  .main__pagecontent {
    max-width: 567px;
    background-image: url(../../assets/background768.png);
    box-sizing: border-box;
  }

  .cards__text {
    width: 300px;
    margin: 0 114px 48px;
  }
}

@media screen and (max-width: 320px) {
  .main__pagecontent {
    max-width: 320px;
    height: 536px;
    background-image: url(../../assets/background320.png);
    width: 100%;
    box-sizing: border-box;
  }

  .main__searchlist {
    max-width: 320px;
  }

  .cards__title {
    width: 285px;
    font-size: 36px;
    line-height: 40px;
    margin: 30px 16px 16px 19px;
  }

  .cards__text {
    width: 288px;
    margin: 0 16px 94px 16px;
  }
}
