.header {
  display: flex;
  align-items: center;
  padding: 30px 0 26px;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  width: 200px;
  margin-left: 104px;
  text-decoration: none;
  border-bottom: none;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.header__container {
  display: flex;
}

.header__home {
  width: 49px;
  margin-left: 617px;
  text-decoration: none;
  border-bottom: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.header__signin {
  width: 176px;
  height: 58px;
  margin-right: 104px;
  margin-left: 42px;
  border-radius: 50px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.header__saved {
  width: 114px;
  margin-right: 64px;
  margin-left: 66px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(182, 188, 191, 1);
}

.header__user-containter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__username {
  width: 148px;
  height: 48px;
  /* margin-right: 68px; */
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.header__username-icon {
  width: 24px;
  height: 24px;
  margin-left: 19px;
  margin-bottom: -6px;
}

.header__nav-link {
  text-decoration: none;
}
