.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset;
}

.header__savedarticle {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px -1px 0px 0px rgba(209, 210, 214, 1) inset;
}

.header__link {
  text-decoration: none;
  padding: 30px 0 26px;
}

.header__link-selected {
  text-decoration: none;
  padding: 30px 0 26px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.header__link-saved {
  text-decoration: none;
  padding: 30px 0 26px;
  border-bottom: 1px solid rgba(26, 27, 34, 1);
}

.header__logo {
  width: 200px;
  margin-left: 104px;
  text-decoration: none;
  border-bottom: none;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.header__container {
  display: flex;
  margin-right: 104px;
}

.header__home {
  width: 49px;
  margin-left: auto;
  text-decoration: none;
  border-bottom: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.header__signin {
  width: 176px;
  height: 58px;
  margin: 31px 0 0 42px;
  border-radius: 50px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.header__saved {
  width: 114px;
  margin-right: 64px;
  margin-left: 66px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(182, 188, 191, 1);
}

.header__user-containter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__username {
  width: 148px;
  height: 48px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.header__username-icon {
  width: 24px;
  height: 24px;
  margin-left: 19px;
  margin-bottom: -6px;
}

.header__nav-link {
  text-decoration: none;
}

.header__menuicon {
  display: none;
}

.header__container_block {
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0 0 0 40px;
  }

  .header__container {
    margin-right: 40px;
    margin-left: 132px;
  }

  .header__saved {
    width: 160px;
    margin: 0 auto 0 auto;
    font-size: 16px;
  }

  .header__link {
    padding: 22px 0 20px;
  }

  .header__link-selected {
    padding: 22px 0 -1px;
  }

  .header__link-saved {
    padding: 22px 0 -1px;
  }

  .header__user-containter {
    position: relative;
  }

  .header__home {
    width: 64px;
    margin: 0 0 0 auto;
  }

  .header__username {
    width: 100px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
  }

  .header__username-icon {
    position: absolute;
    right: 0px;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
  }

  .header__signin {
    width: 152px;
    height: 49px;
    font-size: 16px;
    margin: 14px 0 12px 16px;
  }

  .header__menuicon {
    display: none;
  }

  .header__container_block {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .header__menu {
    position: relative;
    /* background-color: black; */
  }

  .header__logo {
    width: 117px;
    font-size: 16px;
    margin: 16px 147px 16px 16px;
  }

  .header__container {
    display: none;
    float: left;
  }

  .header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    /* background: rgba(26, 27, 34, 1); */
  }
  .header__container_block {
    display: flex;
    flex-direction: column;
    float: none;
    text-align: left;
    position: fixed;
    left: 0;
    right: 0;
  }

  .header__menuicon {
    display: block;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 16px;
    bottom: 16px;
    position: absolute;
    float: right;
  }

  .header__home {
    display: block;
    position: absolute;
    left: 16px;
    top: 16px;
    line-height: 56px;
  }

  .header__signin {
    display: block;
    position: absolute;
    left: 4px;
    top: 56px;
    width: 288px;
    height: 56px;
  }

  .header__link-selected {
    text-decoration: none;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
}
