.newscard__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  background-color: rgba(245, 246, 247, 1);
}

.newscard__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin-left: 104px;
  gap: 16px;
}

.newscard__title {
  width: 712px;
  margin: 80px 0 64px 104px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: rgba(26, 27, 34, 1);
}

.newscard__show {
  width: 288px;
  height: 64px;
  margin-bottom: 80px;
  margin-top: 64px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 80px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(26, 27, 34, 1);
  margin-left: 576px;
  border-color: transparent;
}

.newscard__show:hover {
  cursor: pointer;
  background-color: rgba(232, 232, 232, 1);
}

.newscard__items {
  width: 400px;
  margin-right: 16px;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  position: relative;
}

.newscard__image {
  width: 400px;
  height: 272px;
  min-height: 272px;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.newscard__date {
  margin: 0 0 12px 24px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(182, 188, 191, 1);
}

.newscard__caption {
  width: 352px;
  margin: 0 24px 16px 24px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: rgba(26, 27, 34, 1);
}

.newscard__content {
  width: 352px;
  margin: 0 24px 18px 24px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 1);
}

.newscard__name {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(182, 188, 191, 1);
  margin: 0 0 24px 24px;
}

.newscard__savebtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 26px;
  left: 330px;
  background-image: url("../../assets/save__btn.svg");
  border: none;
  border-radius: 8px;
}

.newscard__savedbtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 26px;
  left: 330px;
  background-image: url("../../assets/saved_btn.svg");
  border: none;
  border-radius: 8px;
}

.newscard__savebtn:hover {
  cursor: pointer;
  background-image: url(../../assets/savebtn_hover.svg);
}

.savedbtn__container {
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
}

.hover__image-text {
  width: 124px;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 15px;
  left: 159px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 22px 0px rgba(59, 74, 116, 0.1);
  padding: 11px 20px 11px 20px;
}

.savedbtn__container:hover .hover__image-text {
  display: block;
}

@media screen and (max-width: 768px) {
  .newscard__container {
    max-width: 768px;
  }

  .newscard__list {
    margin-left: 40px;
    gap: 8px;
  }

  .newscard__title {
    width: 336px;
    font-size: 30px;
    line-height: 34px;
    margin: 40px 0 32px 40px;
  }

  .newscard__show {
    width: 240px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 40px;
    margin-left: 272px;
  }

  .newscard__items {
    width: 224px;
    margin-right: 8px;
    height: 420px;
  }

  .newscard__image {
    width: 224px;
    height: 150px;
    min-height: 150px;
    margin-bottom: 16px;
  }

  .newscard__date {
    margin: 0 0 12px 15px;
  }

  .newscard__caption {
    width: 192px;
    height: 72px;
    font-size: 22px;
    line-height: 24px;
    margin: 0 16px 10px 16px;
    overflow: hidden;
  }

  .newscard__content {
    width: 192px;
    margin: 0 16px 12px 16px;
    height: 88px;
    overflow: hidden;
  }

  .newscard__name {
    width: 192px;
    margin: 0 16px 16px 16px;
  }

  .newscard__savebtn {
    top: 8px;
    left: 162px;
  }

  .newscard__savedbtn {
    top: 8px;
    left: 162px;
  }

  .hover__image-text {
    top: -2px;
    left: -6px;
  }
}

@media screen and (max-width: 320px) {
  .newscard__container {
    max-width: 320px;
  }

  .newscard__title {
    width: 288px;
    margin: 32px 16px 58px 16px;
  }

  .newscard__show {
    width: 288px;
    height: 56px;
    margin: 16px 16px 24px 16px;
  }

  .newscard__items {
    width: 288px;
    margin-right: 16px;
    height: 450px;
  }

  .newscard__list {
    margin-left: 16px;
  }

  .newscard__image {
    width: 288px;
    height: 196px;
    min-height: 196px;
    margin-bottom: 16px;
  }

  .newscard__date {
    margin: 0 16px 10px 16px;
  }

  .newscard__caption {
    width: 256px;
    height: 48px;
    font-size: 22px;
    line-height: 24px;
    margin: 0 16px 14px 16px;
    overflow: hidden;
  }

  .newscard__content {
    width: 256px;
    margin: 0 16px 8px 16px;
    height: 88px;
    overflow: hidden;
  }

  .newscard__name {
    width: 256px;
    margin: 0 16px 16px 16px;
  }

  .newscard__savebtn {
    top: 8px;
    left: 226px;
  }

  .newscard__savedbtn {
    top: 8px;
    left: 226px;
  }

  .hover__image-text {
    top: -2px;
    left: 53px;
  }
}
